<div data-controller="reward-popup">

  <%= render "stamp_cards/stamped_flash" %>
  <%= render "stamp_cards/pop_up_reward" %>

  <div class="banner p-4">
    <h2 class="p-2 text-white"><%= @stamp_card.stamp_rally.name %></h2>
  </div>



  <div class="small-container my-4 pb-4">

    <%= link_to dashboard_path do %>
      <i class="fa fa-solid fa fa-chevron-left me-3"></i>back to profile
    <% end %>

    <div class="about-container my-2">

      <div class="stamps-info">
        <%# variables %>
        <% shops_status = @stamp_card.shops_status %>
        <% collected_stamps = shops_status.select {|k, v| v == "stamped"}.length %>
        <% all_stamps = @stamp_card.stamp_rally.shop_participants.count %>

        <h5 class="mb-2">
          <%= "It's the beginning of your journey! Good Luck!" if collected_stamps == 0 %>
          <%= "You can do it! Keep it up!" if collected_stamps > 0 && collected_stamps < (all_stamps * 0.4)  %>
          <%= "This is a halfway point! Go for it! " if collected_stamps >= (all_stamps * 0.4) && collected_stamps <= (all_stamps * 0.6)  %>
          <%= "You're almost there!" if collected_stamps > (all_stamps * 0.6) && collected_stamps < all_stamps %>
          <%= "Congratulations! You collected all the stamps!" if collected_stamps == all_stamps %>
        </h5>

        <div class="links">
          <p class="tag tag-blue me-4"><%= collected_stamps %> / <%= pluralize(all_stamps, "stamp") %></p>
          <%= link_to  map_view_stamp_rally_participant_stamp_card_path(@stamp_rally, @participant, @stamp_card), class: "small-button" do %>
            <i class="fa fa-solid fa fa-map me-2"></i> Map
          <% end %>
        </div>

      </div>

      <div class="reward">
        <% if @stamp_card.reward_status == "used" %>
          <h4 class="p-3">Thank you for your joining in this event! Stay tuned for next time!</h4>
        <% else %>
          <%= image_tag 'goldbox.png' %>

          <div class="reward-content">
            <div class="me-3">
              <h4>Reward</h4>
              <p><%= @stamp_rally.reward %></p>
            </div>
            <div>
              <% if collected_stamps == all_stamps && @stamp_card.reward_status == "unacquired" %>
                <%= link_to 'Get reward', get_reward_stamp_rally_participant_stamp_card_path(@stamp_rally, @participant, @stamp_card), class: "btn btn-yellow text-black" %>
              <% elsif @stamp_card.reward_status == "acquired" %>
                <p class="small-text">You already claimed this reward, check it in your dashboard</p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

    </div>

    <%= render "stamp_cards" %>

  </div>
</div>


<%# enum :status, { unstamped: 0, stamped: 1 } %>

<%# CONDITION %>
<%# stamped if @stamp_card.shops_status[shop.id] == "stamped" %>

<%# CSS components used in this file:


 %>
