<div class="small-container my-4">

  <%= link_to "Back to profile", dashboard_path %>
  <h3 class="mb-3">Stamps for <%= @stamp_card.stamp_rally.name %></h3>
  <%= link_to "Map view", stamp_rally_shop_participants_path(@stamp_card.stamp_rally), class: "btn btn-primary mb-3" %>

  <div class="stamp-cards-container">
    <% @shop_participants = @stamp_card.stamp_rally.shop_participants %>
    <% @shop_participants.each do |shop| %>
      <div class="stamp-card
        <%= "stamped" if shop.status == "stamped" %>">
        <div class="stamp-card-content">
          <p class="jpic jpic-<%= shop.shop.category_icon %>"></p>
          <p class="small-text"><%= shop.shop.name %></p>
        </div>
      </div>
    <% end %>
  </div>
  <%#   enum :status, { unstamped: 0, stamped: 1 } %>
</div>
