<div class="shop-show-wrapper">
  <h1 class="mb-3"><%= @shop.name %><span class="shop-show-jpic jpic jpic-<%= @shop.category_icon %>"></span>
</h1>

  <div class="shop-container">
    <div class="shop-info-photo">
      <% if @shop.photo.present? %>
        <%= cl_image_tag @shop.photo.key%>
      <% else %>
        <%= image_tag 'https://kobe-ssr.jp/wp-content/uploads/2019/04/87-2-1.jpg' %>
      <% end %>
    </div>

    <div class="shop-info">

      <div class="mb-3">
        <h5>Address</h5>
        <p> <%= @shop.address %></p>
      </div>
      <div class="mb-3">
        <h5>Phone Number</h5>
        <p>123-4567-123</p>
      </div>
      <div class="mb-3">
        <h5>Open Hours</h5>
        <p>9:00-18:00</p>
      </div>
      <div class="mb-3">
        <h5>Category</h5>
        <p><%= @shop.category %></p>
      </div>
      <div>
        <h5>About <%= @shop.name %></h5>
        <p><%= @shop.description %></p>
      </div>
    </div>
  </div>

