<div>
  <div>
    <% if @shop.photo.present? %>
      <%= cl_image_tag @shop.photo.key, class:'img-photos-for-show ' %>
    <% elsif %>
      <%= image_tag 'panda.jpg', class: 'img-test' %>
    <% end %>
  </div>

  <div>
    <h1><%= @shop.name %></h1>
    <div>
      <p> <%= @shop.address %></p>
      <p><%= @shop.category %></p>
    </div>
    <p><%= @shop.description %></p>
  </div>
</div>
