<div class="container">
  <%= simple_form_for(@shop) do |f| %>
    <%= f.input :name, placeholder: "Name of shop" %>
    <%= f.input :address %>
    <%= f.input :category%>
    <%= f.input :description %>
    <%= f.input :user_id %>
    <%= f.button :submit, class: "btn btn-info text-white" %>
  <% end %>
</div>
