<div class="view-container">
  <div class="map"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


  <div class="scroll-content container">
    <div class="description padding">
      <div class="street-info mb-3">
        <div>
          <h1>SHIOYA STREET</h1>
          <p><i class="fa fa-solid fa fa-location-dot me-2"></i>Tarumi Ward, Kobe, Hyōgo Prefecture, Japan</p>
        </div>
        <% if user_signed_in? %>
          <% if policy(@shops).new? %>
            <%= link_to "Add shop", new_shop_path, class: "btn btn-accent mb-3"%>
          <% end %>
        <% end %>
      </div>
      <%=  %>
      <p>SHIOYA is a quaint peaceful fishing village nestled in a valley. It takes about 15 minutes from Kobe, 40min from Osaka and 70min from Kyoto by JR train. It's surrounded by beautiful mountains and the sea, its historical and has a lovely quaint market street.</p>
    </div>

    <%= render "shops" %>
  </div>

</div>
