<div class="view-container">
  <div class="scroll-content container">
    <div class="description padding">
      <div class="d-flex align-items-center justify-content-between">
        <h1>SHIOYA STREET</h1>
        <% if policy(@shops).new? %>
          <%= link_to "Add shop", new_shop_path, class: "btn btn-success"%>
        <% end %>
      </div>
      <p>3-6-15, Shioya-cho, Tarumi-ku, Kobe, Hyogo, Japan</p>
      <p>SHIOYA is my small hometown, a quaint peaceful fishing village nestled in a valley. It takes about 15 minutes from Kobe, 40min from Osaka and 70min from Kyoto by JR train. It's surrounded by beautiful mountains and the sea, its historical and has a lovely quaint market street. Have fun talking with local people & a super smiley environment !</p>
    </div>

    <div class="shops-container padding">

      <% @shops.each do |shop| %>

        <%= link_to "#" do %>
          <div class="shop-card">
            <img src="https://images.unsplash.com/photo-1600003234853-f475f101cc89?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
            <div class="shop-content">
              <h3><%= shop.name %></h3>
              <p><%= shop.address %></p>
            </div>
          </div>
        <% end %>

      <% end %>

    </div>
  </div>

  <div class="map">
    <%# <img src="https://images.unsplash.com/photo-1532154066703-3973764c81fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt=""> %>
    <div style="width: 100%; height: 90vh;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

</div>
