<div class="navbar">
  <div class="logo-image">
  <%= link_to root_path do %>
    <img src="https://res.cloudinary.com/dqfqmr1ei/image/upload/v1676634292/Sampompom/sampompom_-_2_shoes_CLOSE_UP_fqehdp.jpg" alt="app logo">
  <% end %>
  </div>

  <% if user_signed_in? %>
    <% if current_user.status == "chairperson" %>
      <ul class="nav">
        <li><%= link_to "Dashboard", dashboard_path %></li>
        <li><%= link_to "Shops", shops_path %></li>
      </ul>
    <% else %>
      <ul class="nav">
        <li><%= link_to "Rallies", stamp_rallies_path %></li>
        <li><%= link_to "Profile", "#" %></li>
      </ul>
    <% end %>
  <% else %>
    <ul class="nav">
      <li><%= link_to "Rallies", stamp_rallies_path %></li>
    </ul>
  <% end %>

  <div class="d-flex align-items-center">
    <% if user_signed_in? %>
      <div class="ms-5 nav-item dropdown navbar-avatar">
        <%= image_tag('panda.jpg', class:"avatar ms-5", id:"navbarDropdown", "data-bs-toggle":"dropdown", "aria-haspopup":"true", "aria-expanded":"false") %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Settings", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "me-4" %>
    <% end %>
    <%= render 'shared/offcanvas'%>
  </div>
</div>

<%# ***** NOTE ***** %>
<%# If current_user.photo.attached? ->
cl_image_tag(current_user.photo.key, { class: "avatar dropdown-toggle", id: "navbarDropdown", "data-bs-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false" })

if not, display another image:
image_tag('person_02.jpg', class: "avatar dropdown-toggle", id: "navbarDropdown", "data-bs-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false") %>
