<div class="navbar">
  <div class="logo-image">
    <%= link_to root_path do %>
      <%= image_tag("logo.jpg") %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <% if current_user.status == "chairperson" %>
      <ul class="nav">
        <li><%= link_to "Dashboard", dashboard_path %></li>
        <li><%= link_to "Shops", shops_path %></li>
      </ul>
    <% else %>
      <ul class="nav">
        <li><%= link_to "Profile", dashboard_path %></li>
        <li><%= link_to "Rallies", stamp_rallies_path %></li>
        <li><%= link_to "Rewards", stamp_cards_path %></li>
      </ul>
    <% end %>
  <% else %>
    <ul class="nav">
      <li><%= link_to "Rallies", stamp_rallies_path %></li>
    </ul>
  <% end %>

  <div class="d-flex align-items-center">
    <% if user_signed_in? %>
      <div class="ms-5 nav-item dropdown navbar-avatar">
        <p class="mb-0 tag tag-grey"><%= current_user.name %></p>
        <% if current_user.photo.attached? %>
          <%= cl_image_tag(current_user.photo.key, { class: "avatar nav-item ms-5 dropdown-toggle", id: "navbarDropdown", "data-bs-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false" }) %>
        <% else %>
            <%= image_tag('panda.jpg', class: "avatar ms-5 nav-item dropdown-toggle", id: "navbarDropdown", "data-bs-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false") %>
        <% end %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "me-4 btn btn-primary" %>
    <% end %>
    <%= render 'shared/offcanvas'%>
  </div>
</div>
