<div class="container dashboard">
  <div class="dash-user mb-3">
    <h1>Welcome back, <%= current_user.email.split("@").first %></h1>
    <p>Chairman of Shioya Street</p>
  </div>
  <div class="dash-content">

    <div class="dash-rallies">
      <div class="d-flex align-items-center justify-content-between">
        <h4>Stamp rallies</h4>
        <p><%= link_to "See all", "#", class: "btn btn-primary"%></p>
      </div>

      <div class="rallies-container">
        <% @stamprallies.each do |rally| %>
          <%= link_to "#" do %>
            <div class="rally-card <%= if Date.today > rally.end_date
              "finished"
              elsif (Date.today > rally.start_date && Date.today < rally.end_date)
              "ongoing"
              else
              "coming"
              end %>">
              <h5><%= rally.name %></h5>
              <p>
              <%= rally.start_date.to_s %> - <%= rally.end_date.to_s %></p>
              <% if Date.today > rally.end_date %>
                <p class="tag">Finished</p>
              <% elsif Date.today > rally.start_date && Date.today < rally.end_date %>
                <p class="tag">Ongoing</p>
              <% else %>
                <p class="tag">Coming soon</p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="dash-main">
      <%# Stadisticst for chairman %>
      <div class="stadistics"></div>

      <%# Latest added shops %>
      <div class="d-flex align-items-center justify-content-between">
        <h4>Latest added shops</h4>
        <%= link_to "See all shops", shops_path, class: "btn btn-primary" %>
      </div>
      <div class="shops-list">
        <% @shops.each do |shop| %>
          <%= link_to shop_path(shop) do %>
            <ul class="shop-card-small">
              <div class="img-container">
                <%# <img src="" alt=""> %>
              </div>
              <div class="shop-content p-1">
                <p><%= shop.name %></p>
              </div>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>


    <%# ***** NOTES ***** %>
    <%# We need to update this code when we have
    real stamp rallies in the DB!!!
      - Show real data for each stamp rally with .each
      - Update the link for each card so it goes to that specific stamp rally show page
      - DATES LOGIC: if the stamp rally end date is before the current date,
        we need to add the class "finished" to the card, next to rally-card.
        No need to code the styles, they can be found in _card_stamp_rally.scss file
    %>


  </div>
</div>
