<div class="container chair-dashboard py-5">

  <div class="dash-user mb-5">
    <div class="mb-3">
      <h1>Welcome back, <%= current_user.email.split("@").first.capitalize %></h1>
      <p>Chairman of Shioya Street</p>
    </div>
    <%= link_to new_stamp_rally_path do  %>
      <div class="button">
        <%= image_tag('icon-stamp.png') %>
        Generate Stamp Rally
      </div>
    <% end %>

  </div>

  <div class="dash-content">

    <div class="dash-rallies">
      <div class="d-flex align-items-center justify-content-between">
        <h4>Stamp rallies</h4>
      </div>

      <div class="rallies-container">
        <%= render "rallies_list" %>
      </div>
    </div>

    <div class="dash-main">
      <%= render "newest_shops" %>
    </div>

  </div>
</div>
