<div class="container chair-dashboard py-5">
  <div class="dash-user mb-3">
    <div class="mb-3">
      <h1>Welcome back, <%= current_user.email.split("@").first %></h1>
      <p>Chairman of Shioya Street</p>
    </div>
    <%= link_to new_stamp_rally_path do  %>
      <div class="button">
        <%= image_tag('icon-stamp.png') %>
        Generate Stamp Rally
      </div>
    <% end %>

    </div>
  <div class="dash-content">

    <div class="dash-rallies">
      <div class="d-flex align-items-center justify-content-between">
        <h4>Stamp rallies</h4>
      </div>

      <div class="rallies-container">
        <%= render "rallies_list" %>
      </div>
    </div>

    <div class="dash-main">
      <%# Stadisticst for chairman %>
      <div class="stadistics"></div>

      <%# Latest added shops %>

      <div class="shops-list">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h4>Latest added shops</h4>
          <%= link_to "See all shops", shops_path, class: "btn btn-primary" %>
        </div>
        <% @shops.each do |shop| %>
          <%= link_to shop_path(shop) do %>
            <ul class="shop-card-small">
              <div class="img-container">
                <%# <img src="" alt=""> %>
              </div>
              <div class="shop-content p-1">
                <p><%= shop.name %></p>
              </div>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>


    <%# ***** NOTES ***** %>
    <%# We need to update this code when we have
    real stamp rallies in the DB!!!
      - Show real data for each stamp rally with .each
      - Update the link for each card so it goes to that specific stamp rally show page
      - DATES LOGIC: if the stamp rally end date is before the current date,
        we need to add the class "finished" to the card, next to rally-card.
        No need to code the styles, they can be found in _card_stamp_rally.scss file
    %>


  </div>
</div>
