<% @stamprallies.each do |rally| %>
  <% if rally.user_id == current_user.id %>
    <%= link_to stamp_rally_path(rally) do %>
      <div class="rally-card rally-dashboard <%= if rally.end_date.past?
        "finished"
        elsif Date.today.between?(rally.start_date, rally.end_date)
          "ongoing"
        else
          "soon"
        end %>">
        <div class="background-section">
          <h6 class="rally-title"><%= rally.name %></h6>
          <div>
            <% if rally.start_date.past? %>
              <p class="tag">Available until <%= rally.end_date %></p>
            <% else %>
              <p class="tag">From <%= rally.start_date %></p>
            <% end %>
          </div>
        </div>
        <div class="flex">
          <p class="tag"><%= pluralize(rally.shop_participants.count, "shop") %></p>
          <div class="icons-container">
            <% icons = rally.shop_participants.map { |shop_participant| shop_participant.shop.category_icon }.uniq.first(5) %>
            <% icons.each do |icon| %>
              <p class="jpic jpic-<%= icon %>"></p>
            <% end %>
          </div>
          <%# if Date.today > rally.end_date %>
            <%# <p class="tag">Finished</p> %>
          <%# elsif Date.today > rally.start_date && Date.today < rally.end_date %>
            <%# <p class="tag">Ongoing</p> %>
          <%# else %>
            <%# <p class="tag">Coming soon</p> %>
          <%# end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
