<% @stamprallies.each do |rally| %>
  <% if rally.user_id == current_user.id %>
    <%= link_to stamp_rally_path(rally) do %>
      <div class="rally-card rally-dashboard <%= if rally.end_date.past?
        "finished"
        elsif Date.today.between?(rally.start_date, rally.end_date)
          "ongoing"
        else
          "soon"
        end %>">
        <div>
          <h6 class="rally-title"><%= rally.name %></h6>
          <div class="dates">
            <p><%= rally.start_date %></p> -
            <p><%= rally.end_date %></p>
          </div>
        </div>
        <div class="flex">
          <p><%= pluralize(rally.shop_participants.count, "shop") %></p>
          <% if Date.today > rally.end_date %>
            <p class="tag">Finished</p>
          <% elsif Date.today > rally.start_date && Date.today < rally.end_date %>
            <p class="tag">Ongoing</p>
          <% else %>
            <p class="tag">Coming soon</p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
