<div class="container dashboard py-5">

  <% if user_signed_in? %>
    <div class="dash-user mb-3">
      <h1>Welcome back, <%= current_user.email.split("@").first.capitalize %> </h1>
    </div>
  <% end %>

  <div class="dash-content">
    <div class="dash-rallies">
      <h4>Your stamp rallies</h4>
      <div class="rallies-container">
        <%# Check if the user has currently joined any stamp rally %>
        <% if current_user.participants.any?  %>
          <p>You are a participant!!</p>
          <% current_user.participants.each do |participant| %>
            <%= link_to "#" do %>
              <div class="rally-card ongoing">
              <% @stamp = participant.stamp_rally %>
                <div>
                  <h6 class="rally-title"><%= @stamp.name %></h6>
                  <div class="dates">
                    <p><%= @stamp.start_date %></p>
                    <p><%= @stamp.end_date %></p>
                  </div>
                </div>
                <div class="date-status">
                    <p class="tag">Ongoing</p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <p>You are currently not participating in any stamp rally</p>
          <p><%= link_to "Look for stamp rallies in your area!", stamp_rallies_path, class: "btn btn-primary" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
