<div class="container dashboard py-5">

  <% if user_signed_in? %>
    <div class="dash-user mb-3">
      <h1>Welcome back, <%= current_user.email.split("@").first.capitalize %> </h1>
    </div>
  <% end %>

  <div class="dash-content">
    <div class="dash-rallies">
      <div class="rallies-container">
        <%# Check if the user has currently joined any stamp rally %>
        <% if current_user.participants.any?  %>
          <h6 class="mb-4">You are currently participating in
          <%= pluralize(current_user.participants.count, "stamp rally") %>
          </h6>

          <% current_user.participants.each do |participant| %>
          <%# *** declare this variable to keep code DRY ***%>
          <% @stamp_rally = participant.stamp_rally %>
          <% @shop_participants = @stamp_rally.shop_participants %>
            <%= link_to "#" do %>
              <div class="rally-card ongoing">
                <div>
                  <h6 class="rally-title"><%= @stamp_rally.name %></h6>
                  <p class="mb-0">0 / <%= pluralize(@stamp_rally.shop_participants.count, "stamp") %> collected</p>
                </div>
                <div>
                  <%= link_to "Stamps", "#" %>
                  <%= link_to "Go to map", "#" %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <p>You are currently not participating in any stamp rally</p>
          <p><%= link_to "Look for stamp rallies in your area!", stamp_rallies_path, class: "btn btn-primary" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# I am not very sure of how to add links...
stamp_rally_participant_stamp_card_path(participant.stamp_rally.id, @participant, participant.stamp_rally.stamp_card) %>
