<div class="landing py-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1517142099008-c2eb9227b575?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1820&q=80');">

  <div class="landing-content container">
    <h1 class="wide-logo">SAMPOMPOM</h1>
    <div class="align-contents-evenly mb-5">
      <h3 class="mb-3 my-3 ms-4"> 	&#128640; BOOST the community </h3>
      <h3 class="mb-3 my-3 ms-4">	&#128142; DISCOVER hidden gems </h3>
      <h3 class="mb-3 my-3 ms-4"> &#128270;EXPLORE new places </h3>
    </div>
    <%# search form %>
    <%= render "stamp_rallies/searchbar" %>
    <%# <%= link_to "Start", new_user_session_path, class: "btn btn-light" %>
  </div>

</div>

<%# WHAT IS SAMPOMPOM %>
<div class="section py-5">


  <%# THE TWO TYPES OF USERS %>
  <div class="section small-container my-4" style="font-size: 20px; color: rgb(12,12, 202);">
        <div class="row-container">
          <div class="img-container">
            <%= image_tag("open.png") %>
          </div>

          <div class="section-content">
            <h3 class="mb-3">Sampompom</h3>
            <p>gives smaller shops an opportunity to reach those who wouldn't otherwise know they exist. <br> </p>
            </p><strong><i> Inspired by 商店街 (shoutengai)'s</i></strong>, Japan's local shopping streets, any chairperson can signup and organize stamp rallies on behalf of their shops. </p><br>
          </div>
        </div>

      <div class="section-content">
        <div class="row-container">
          <div class="section-content">
            <h3 class="mb-2">All great places ... </h3>
            <p> that makes a community special. <strong><i>Sampompom</i></strong> has made it easier to find these hidden gems.</p>
            <h3 class="mb-2 my-3"> Let's RALLY together!!! </h3> <%= link_to 'JOIN A STAMP RALLY NOW!', stamp_rallies_path, class: "btn btn-info mb-3" %>
          </div>
          <div class="img-container">
            <%= image_tag("walking.png") %>
          </div>
        </div>
</div>

<%# FOOTER %>
<div class="footer">
  <div class="container text-center">
    <h3>SAMPOMPOM</h3>
    <a href="https://www.freepik.com/free-vector/friends-walking-concept-illustration_35262244.htm#query=walking&position=6&from_view=search&track=sph">Image by storyset</a> on Freepik
  </div>
</div>
