<div class="container fw-bold p-0">
  <%= simple_form_for [@stamp_rally] do |f| %>
      <div class="row row-cols-2">
        <div class="col-6">
          <div class="row justify-content-start align-items-center">
            <div class="col-2">
              <label for="stamp_rally_start_date" class="my-2 me-3">Start:</label>
            </div>
            <div class="col-9 pt-3">
              <%= f.input :start_date, label: false, input_html: { class:""}, as: :date, html5: true %>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row justify-content-start align-items-center">
            <div class="col-2">
              <label for="stamp_rally_end_date" class="my-2 me-3 ">End:</label>
            </div>
            <div class="col-9 pt-3">
              <%= f.input :end_date, label: false, as: :date, html5: true %>
            </div>
          </div>
        </div>
      </div>
    <%= f.input :name, label: false, placeholder: "Name of Stamp Rally" %>
    <%= f.input :description, label: false, placeholder: "Stamp Rally description" %>
    <div class="row row-cols-2">
      <div class="photo">
        <%= f.input :reward_photo, as: :file %>
      </div>
      <div class="container-reward-buttons col-8" style=" width: 50%;">
        <%= f.input :reward,  as: :radio_buttons,
          collection: ["sticker", "badge", "towel", "keyholder", "stationary" ],
          input_html: { class: "reward-selector"},
          item_wrapper_class: 'reward-item; inline',
          label: "Select reward",
          collection_wrapper_tag: 'div',
          collection_wrapper_class: 'reward-wrapper'
        %>
      </div>
    </div>
    </div>
    <div class="fw-bold">
    <%= f.input :attend_shops,
      label: "Attending shops:",
      as: :check_boxes,
      collection: Shop.where(user: current_user).map { |shop| [shop.name, shop.id.to_s] },
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'shops-wrapper',
      item_wrapper_class: 'shop-item',
      input_html: {class: 'category-selector'},
      include_hidden: false
    %>

    <%= f.button :submit, class: "btn btn-success", value: "START RALLY" %>
    <% end %>
    </div>
  </div>
</div>
