<div class="container">
  <%= simple_form_for [@stamp_rally] do |f| %>
    <%= f.input :name, placeholder: "Please give your Stamp Rally a name" %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.input :description, placeholder: "Please describe what type of stamp rally you are hosting - rewards? prizes? special gifts/" %>


    <%# Look into which input to SELECT several shops %>
    <%= f.input :attend_shops,
        as: :check_boxes,
        collection: Shop.where(user: current_user).map { |shop| [shop.name, shop.id.to_s] },
        include_hidden: false
        %>

    <div class= m-3>
      <%= f.collection_check_boxes :attend_shops,
      Shop.where(user: current_user),
      :id, :name,
      include_hidden: false %>
    </div>

    <%= f.button :submit, class: "btn btn-danger text-white" %>
  <% end %>
</div>

      <%# <%= f.input :user_id, label: "Select the shops", as: :check_boxes, collection: Shop.where(user: current_user), :item_wrapper_class => 'inline', :checked => true %>
      <%# <%= f.collection_check_boxes :user_id, Shop.order(:name), :id, :name %>
