<div class="container p-0">
  <%= simple_form_for [@stamp_rally] do |f| %>
    <%= f.input :name, placeholder: "Please give your Stamp Rally a name" %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.input :description, placeholder: "Please describe what type of stamp rally you are hosting. Are there any rewards or prizes?" %>
    <%= f.input :reward, as: :file %>

    <%= f.input :attend_shops,
      label: "Attending shops:",
      as: :check_boxes,
      collection: Shop.where(user: current_user).map { |shop| [shop.name, shop.id.to_s] },
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'shops-wrapper',
      item_wrapper_class: 'shop-item',
      input_html: {class: 'category-selector'},
      include_hidden: false
    %>

    <%= f.button :submit, class: "btn btn-success" %>
  <% end %>
</div>
