<div class="container p-0">
  <%= simple_form_for [@stamp_rally] do |f| %>
    <%= f.input :name, label: false, placeholder: "Please give your Stamp Rally a name" %>
    <div class="row row-cols-2">
      <div class="d-flex">
        <label for="stamp_rally_start_date">Start date</label>
        <%= f.input :start_date, label: false, input_html: { class:"flex-grow-1"}, as: :date, html5: true %>
      </div>
      <div class="d-flex">
        <label for="stamp_rally_end_date">End date</label>
        <%= f.input :end_date, label: false, as: :date, html5: true %>
      </div>
    </div>
    <%= f.input :description, label: false, placeholder: "Please describe the type of stamp rally." %>
    <%= f.input :reward,  as: :radio_buttons,
      collection: ["stationary", "sticker", "badge", "towel", "keyholder" ],
      input_html: { class: "reward-selector"},
      item_wrapper_class: 'reward-item',
      label: "Select a completion reward",
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'reward-wrapper'
    %>

    <%= f.input :attend_shops,
      label: "Attending shops:",
      as: :check_boxes,
      collection: Shop.where(user: current_user).map { |shop| [shop.name, shop.id.to_s] },
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'shops-wrapper',
      item_wrapper_class: 'shop-item',
      input_html: {class: 'category-selector'},
      include_hidden: false
    %>

    <%= f.button :submit, class: "btn btn-success" %>
  <% end %>
</div>
