<div class="container p-0">
  <%= simple_form_for [@stamp_rally] do |f| %>
    <%= f.input :name, placeholder: "Please give your Stamp Rally a name" %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.input :description, placeholder: "Describe what type of stamp rally you are hosting. Are there any rewards or prizes?" %>

    <%= f.input :attend_shops,
      as: :check_boxes,
      collection: Shop.where(user: current_user).map { |shop| [shop.name, shop.id.to_s] },
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'shops-wrapper',
      item_wrapper_class: 'shop-item',
      input_html: {class: 'category-selector'},
      include_hidden: false
    %>

    <%= f.button :submit, class: "btn btn-success" %>
  <% end %>
</div>

      <%# <%= f.input :user_id, label: "Select the shops", as: :check_boxes, collection: Shop.where(user: current_user), :item_wrapper_class => 'inline', :checked => true %>
      <%# <%= f.collection_check_boxes :user_id, Shop.order(:name), :id, :name %>
