<div class="reward">
  <% if current_user.status != "chairperson" %>
    <% if @stamp_card.reward_status == "used" && @stamp_card.status == "completed" %>

      <p class="p-3">Thank you for your joining in this event! Stay tuned for next time!</p>
    <% elsif @stamp_card.reward_status == "unacquired" && @stamp_card.status == "completed" %>
      <% if @stamp_rally.photo.attached? %>
        <%= cl_image_tag @stamp_rally.photo.key %>
      <% else %>
        <%= image_tag 'goldbox.png' %>
      <% end %>

      <p class="p-3">Congratulations! You can get the reward ticket on your stamp card!</p>
    <% elsif @stamp_card.reward_status == "acquired" && @stamp_card.status == "completed" %>
      <% if @stamp_rally.photo.attached? %>
        <%= cl_image_tag @stamp_rally.photo.key %>
      <% else %>
        <%= image_tag 'goldbox.png' %>
      <% end %>
      <p class="p-3">Nice! It's time to exchange the reward at redemption venues!</p>
    <% else %>
      <% if @stamp_rally.photo.attached? %>
        <%= cl_image_tag @stamp_rally.photo.key %>
      <% else %>
        <%= image_tag 'goldbox.png' %>
      <% end %>
      <p>Collect all the stamps on this rally to get a <span class="font-strong"><%= @stamp_rally.reward %></span></p>
    <% end %>
  <% else %>
    <%= image_tag 'goldbox.png' %>
    <p>Stamp rally reward: <span class="font-strong"><%= @stamp_rally.reward %></span></p>
  <% end %>
</div>
