
<%# container for stamp rally title and dates %>
<div class="card-product text-center bg-primary p-5">
  <h1 class="pb-2 text-white"><%= @stamp_rally.name.upcase %></h1>
    <div class="my-2">
      <p class="banner-date">Start date: <%= @stamp_rally.start_date %>  |  End date: <%=  @stamp_rally.end_date %></p>
    </div>
</div>

<%# container for rally description %>
<div class="container my-5">
  <div class="rally-card-for-show">
    <p class="my-2"> <%= @stamp_rally.description %> </p>

    <% if user_signed_in? %>
      <% if current_user.status == "user" %>
        <% if StampCard.where(participant: @participant, stamp_rally: @stamp_rally).count == 0 %>
          <%= render "join_button" %>
        <% else %>
          <p><strong>You are already a participant of this stamp rally</strong></p>
        <% end %>
      <% end %>
    <% else %> <%# if user not signed in  %>
      <p>You need to login to join this stamp rally</p>
    <% end %>
  </div>
</div>



<div class="container">
  <%= render "shop_participants" %>
</div>
