<%# container for stamp rally title and dates %>
<div class="banner">
  <h1 class="pb-2 text-white"><%= @stamp_rally.name.upcase %></h1>
    <div class="my-2 banner-date">
      <p>Start date: <%= @stamp_rally.start_date %></p>
      <p>End date: <%=  @stamp_rally.end_date %></p>
    </div>
</div>

<%# container for rally description %>
<div class="container my-5">
  <div class="about-container">
    <div class="rally-info p-3">
      <div>
        <p class="mb-3"><%= @stamp_rally.description %></p>
      </div>
      <% if user_signed_in? %>
        <% if current_user.status == "user" %>
          <% if StampCard.where(participant: @participant, stamp_rally: @stamp_rally).count.zero? && Date.today.between?(@stamp_rally.start_date, @stamp_rally.end_date) %>
            <%= render "join_button" %>
          <% else %>
            <% if Date.today.between?(@stamp_rally.start_date, @stamp_rally.end_date) %>
              <p><span class="font-strong">You are already a participant of this stamp rally</span></p>
              <div class="links">
              <% @stamp_card = StampCard.where(participant: @participant, stamp_rally: @stamp_rally).first %>
                <%= link_to stamp_rally_participant_stamp_card_path(@stamp_rally, @participant, @stamp_card), class: "small-button" do %>
                    <%= image_tag('icon-stamp.png') %> Stamps
                <% end %>
                <%= link_to map_view_stamp_rally_participant_stamp_card_path(@stamp_rally, @participant, @stamp_card), class: "small-button" do %>
                  <i class="fa fa-solid fa fa-map me-2"></i> Map
                <% end %>
              </div>
            <% else %>
              <p><span class="font-strong">This stamp rally is not available at the moment</span></p>
            <% end %>
          <% end %>
        <% end %>
      <% else %> <%# if user not signed in  %>
        <p> <%= link_to "Login", new_user_session_path, class: "text-primary"%> first to join this stamp rally</p>
      <% end %>
    </div>

    <%= render user_signed_in? ? "reward" : "reward_non_user" %>

  </div>

  <div class="container my-5">
  <h3 class="mb-3">Shops in this stamp rally</h3>
  <%= render "shop_participants" %>
</div>





<%# CSS Components in this file
  _banner.scss
  _dates.scss
  _card_stamp_rally.scss
  _reward.scss

 %>
