<div class="container">
  <h1><%= @stamp_rally.name %></h1>
  <p><%= @stamp_rally.start_date %> ~ <%=  @stamp_rally.end_date %></p>
  <p>About this rally: <%= @stamp_rally.description %></p>
  <p>Location: <%= @stamp_rally.user.location %></p>

  <h2>below shops appear in this rally!!</h2>
  <ul>
    <% @stamp_rally.shop_participants.each do |shop_participant| %>
      <div class="mb-3">
        <%= shop_participant.shop.name %>
        <%= link_to 'GET QR CODE!!', new_shop_participant_stamp_card_path(shop_participant), class: "btn btn-primary ms-5" %>
      </div>
    <% end %>
  </ul>
</div>
