<div class="container">
<div class="card-product my-5">
 <% if @shop.user.photo.attached? %>
          <%= cl_image_tag(@shop.user.photo.key, { class: "avatar-large" }) %>
        <% else %>
          <%= image_tag('person_02.jpg', class: "avatar-large")  %>
        <% end %>
  <h1><%= @stamp_rally.name %></h1>
  <p><%= @stamp_rally.start_date %> ~ <%=  @stamp_rally.end_date %></p>
</div>
  <%= @stamp_rally.description %>

  <h2><%= StampRally.name %></h2>
  <ul>
    <% @stamp_rally.shop_participants.each do |shop_participant| %>
      <div class="mb-3">
        <%= shop_participant.shop.name %>
        <%= link_to 'GENERATE QR CODE!!', new_shop_participant_stamp_card_path(shop_participant), class: "btn btn-primary ms-5", style: "width: 250px;" %>
      </div>
    <% end %>
  </ul>
</div>
