<%# container for stamp rally title and dates %>
<div class="banner p-5">
  <h1 class="pb-2 text-white"><%= @stamp_rally.name.upcase %></h1>
    <div class="my-2 banner-date">
      <p>Start date: <%= @stamp_rally.start_date %></p>
      <p>End date: <%=  @stamp_rally.end_date %></p>
    </div>
</div>

<%# container for rally description %>
<div class="container my-5">
  <div class="about-container">
    <div class="row justify-content-center align-items-center">
      <div class="col-6">
       <p class=""> <%= @stamp_rally.description %> </p>
      </div>
      <div class="col-6">
        <div class="row justify-content-start align-items-center">
          <div class="col-3">
            <div class="img-fluid">
              <%= image_tag("goldbox.png") %>
            </div>
          </div>
          <div class="col-3" style="text-align:center; font-size: 16px; font-weight: bold;">
             <%= @stamp_rally.reward %>
          </div>
      </div>
    </div>

        <% if user_signed_in? %>
          <% if current_user.status == "user" %>
            <% if StampCard.where(participant: @participant, stamp_rally: @stamp_rally).count.zero? && Date.today.between?(@stamp_rally.start_date, @stamp_rally.end_date) %>
              <%= render "join_button" %>
            <% else %>
              <% if Date.today.between?(@stamp_rally.start_date, @stamp_rally.end_date) %>
                <p><strong>You are already a participant of this stamp rally</strong></p>
              <% else %>
                <p><strong>This stamp rally is not available at the moment</strong></p>
              <% end %>
            <% end %>
          <% end %>
        <% else %> <%# if user not signed in  %>
          <p> <%= link_to "Login", new_user_session_path, class: "text-primary"%> first to join this stamp rally</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container my-5">
  <h3 class="mb-3">Shops in this stamp rally</h3>
  <%= render "shop_participants" %>
</div>
</div>





<%# CSS Components in this file
  _banner.scss
  _dates.scss
  _card_stamp_rally.scss

 %>
