<div class="background">
 <div class="text-white" style="text-align: center;">
    <h2 style="font-family: 'Lexend', sans-serif; color: #FFC65A; font-size: 60px; margin-bottom: 0; font-weight: bold;">
      <%= @stamp_rally.name %>
    </h2>
    <h4 style="font-family: 'Lexend', sans-serif; color: #FFC65A; font-size: 40px; font-weight: bold; margin-bottom: 20px;">
      <%= @stamp_rally.start_date.to_s.split(" ")[0] %> ~ <%= @stamp_rally.end_date.to_s.split(" ")[0] %>
    </h4>

    <h1 style="font-family: 'Lexend', sans-serif; color: #FFC65A; margin: 50px 0 30px 0; font-size: 100px; font-weight: bold; margin-bottom: 20px;">
      <%= @shop_participant.shop.name %>
    </h1>
    <div style="margin: 0 auto; padding: 20px; width: 100%;">
      <%= @svg.html_safe %>
    </div>
  </div>
</div>
