<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="description" content="width=device-width, initial-scale=1, shrink-to-fit=no <%= meta_description %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%# Mapbox settings %>
    <link as="style" href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>

    <%# Japanese style icons %>
    <link as="style" rel="stylesheet" href="https://yannklein.github.io/japan-pictograms/japan-pictograms.css">

  </head>

  <body>
    <% unless devise_controller? || params[:controller] == "stamp_cards" || params[:controller] == "shop_participants" || params[:controller] == "participants" %>
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
    <% end %>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
